/*
    Feuille de style de la page d'acceuil partie "feature"
*/


.feature{
    height: 750px;
}

.feature .container{
    width: 80vw;
    color: #131325;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.feature .container .releases .release img{
    width: 150px;
    height: 150px;
    padding-right: 20px ;
}

.feature .container h3 {
    text-transform: capitalize;
}


/* Taille des titres */
.release h6{
    font-size: 24px;
}