body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




#ki {
    padding: 0;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    color: grey;
}


/*-- Partie Footer --*/
footer .botom .container div{
    font-size: 12px;
}
#version{
    font-weight: 300;
}